@model Atividade.ViewModel.Buffet.EventViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event's data</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descrition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.Descrition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.Observation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.Client.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeEvent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.TypeEvent.Descrition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SituationEvent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.SituationEvent.Descrition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DayStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.DayStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.Local.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="All">Back</a>
</div>
